## Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
