# Ignore everything by default
**/*

# Only format these file types
!**/*.yml
!**/*.yaml
!**/*.md
!**/*.html

# But still ignore these directories
node_modules
dist
build
.wrangler
.llm
package.json
package-lock.json
pnpm-lock.yaml
