.iconParent {
    position: relative;
    display: inline-block;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.iconQuality {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.smallSquare {
    width: 32px;
    height: 32px;
}

.largeSquare {
    width: 64px;
    height: 64px;
}

.largeSquare .iconQuality {
    width: 24px;
    height: 24px;
    bottom: -3px;
    right: -3px;
}
